/* Estilos generales*/
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&display=swap');

.bordeTemporal{
    border: 5px solid purple;
    margin: 5px;
}
.centrarImagenHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*ESTILOS HEADER*/
header{
    background-color: black;
}

/*Nombre de areas*/
.cabeza{
    grid-area: cabeza;
}
.topMenu{
    grid-area: topMenu;
}
.columna{
    grid-area: columna;
}
.contenido{
    grid-area: contenido;
}
.botMenu{
    grid-area: botMenu;
}
.logo{
    grid-area: logo;
}
.mapa{
    grid-area: mapa;
}
.redesSociales{
    grid-area: redesSociales;
}
.pie{
    grid-area: pie;
}

/*RESPONSIVE*/
/*! DESKTOP */

@media (min-width: 1024px){
 /* Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "botMenu botMenu botMenu"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 2fr 1fr 3fr 1fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/* Areas de Nosotros*/ 
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/*Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "columna contenido contenido"
    "botMenu botMenu botMenu"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 3fr 2fr 5fr 2fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/*Areas de Contacto*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 3fr 1fr 6fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/*Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 3fr 1fr 6fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}

/*body*/
body{
    background-color: yellow;
    width: 100%;
    height: 100vh;
}

}

/*TABLET*/

@media (min-width: 481px) and (max-width: 1023px){
/*Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "botMenu botMenu"
    "pie pie"
    ;
    grid-template-rows: 2fr 3fr 3fr 2fr 1fr 1fr;
    grid-template-columns: 30% auto;
}

/*Areas de Nosotros*/
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/*Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "topMenu topMenu"
    "columna contenido"
    "mapa contenido"
    "botMenu botMenu"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 3fr 1fr 4fr 3fr 1fr 3fr 1fr;
    grid-template-columns: 50% auto;
}
/*Areas de Contactos*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/*Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}

/*body*/
body {
    background-color: beige;
    width: 100%;
    height: 100vh;
}
}
/*SMARTPHONE*/
@media (max-width: 480px){

/* Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "botMenu botMenu"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 5fr 3fr 1fr 2fr 1fr;
    grid-template-columns: 40% auto;
}
/* Areas de Nosotros*/
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 50% auto;
}
/* Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "topMenu topMenu"
    "columna columna"
    "contenido contenido"
    "botMenu botMenu"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 4fr 2fr 2fr 6fr 2fr 3fr 2fr 1fr;
    grid-template-columns: 50% auto;
}
/* Areas de Contactos*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 50% auto;
}
/* Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 50% auto;
}

/* Body*/
body{
    background-color: rosybrown;
    width: 100%;
    height: 100vh;
}
}