/* Estilos generales*/
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&display=swap');

.bordeTemporal{
    border: 5px solid purple;
    margin: 5px;
}
.centrarImagenHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*ESTILOS BODY*/

/*body*/
body{
    background-image:url("../imagenes/backgroundNosotros.png");
    width: 100%;
    height: 100vh;
}

/*ESTILOS MAIN*/

.margenes{
    margin-left: 5%;
    margin-right: 5%;
}

/*ESTILOS HEADER*/
header{
    background-color: black;
}
/* nav styles*/
/*--------------------------*/
.estiloNav{
    background-color: black;
    border: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estiloNavProductos{
    background-color: black;
    border: solid white 2px;
}

a {
    text-decoration: none;
}
a:hover{
    border-bottom: solid 2px red;
}

/*ESTILOS REDES SOCIALES*/
.imagenRedes{
    width: 30%;
}
.centrarRedes{
    margin: 20%;
    align-items: center;
    justify-content: center;
}
.centrarImagenRedes{
    display: flex;
    align-items:center;
    justify-content: center;
}
.centrarRedesSociales{
    display: flex;
    align-items: center;
}
/* ASIDE*/

.columnaProductos {
    display: flex;
    flex-flow: column wrap;
}
aside {
    background-color: black;
    margin: 1%;
    padding: 10%;
}
.aColumn{
    background-color: white;
    text-align:center;
    margin: 8%;
    padding: 5%;
}
span:hover{
    border-bottom: solid 2px     red;
}
/* MAPA*/
.mapaImg{
    width: 75%;
    height: 75%;
    border: solid 10px green;
}
.centrarMapaContacto{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}
.centrarMapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILOS LOGO*/
.logoImg{
    width: 65%;
}
.centrarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS LETRAS*/
h4{
    text-align: center;
}
.centrarTitulo{
    text-align: center;
    margin-top: 3%;
}

/*Nombre de areas*/
.cabeza{
    grid-area: cabeza;
}
.topMenu{
    grid-area: topMenu;
}
.columna{
    grid-area: columna;
}
.contenido{
    grid-area: contenido;
}
.botMenu{
    grid-area: botMenu;
}
.logo{
    grid-area: logo;
}
.mapa{
    grid-area: mapa;
}
.redesSociales{
    grid-area: redesSociales;
}
.pie{
    grid-area: pie;
}


/* //////// */
/* ANIMACIONES*/

.aparecerTextoDerecha{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes aparecer {
    from{transform: translatex(50%);}
    to{transform: translate(0);}
}

/* //////// */

/*RESPONSIVE*/


/* ////// */
/* ////// */
/* ////// */

/*! DESKTOP */
@media (min-width: 1024px){
 /* Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 3fr 1fr 6fr 4fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/* Areas de Nosotros*/ 
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/*Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "columna contenido contenido"
    "botMenu botMenu botMenu"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 2fr 1fr 5fr 1fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/*Areas de Contacto*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 3fr 1fr 6fr 2fr 1fr;
    grid-template-columns: 20% auto;
}
/*Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "topMenu topMenu topMenu"
    "contenido contenido contenido"
    "logo mapa redesSociales"
    "pie pie pie"
    ;
    grid-template-rows: 3fr 1fr 6fr 2fr 1fr;
    grid-template-columns: 20% 30% auto;
}
/* NAV */
.menuNavegacion{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;  
}
.menuNavegacionProductos{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}
.estiloNavProductos{
   display: flex;
   justify-content: center;
   /* height: 50%;*/
}
.estiloLi {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 10%;
}
.mostrarCarrouselDos{
    display: none;
}
/* PRODUCTOS*/
.centrarImg{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
/*Flexs styles---------------*/
.todosProductosFlex{
    display: flex;
    flex-flow: column wrap;
}

.productoFlex{
    display: flex;
    flex-flow: column nowrap;
    align-items: right;
}
/*Grid Areas producto Meeples*/
.gridAreasProductoMeeples{
    display: grid;
    grid-template-areas: 
    "textoUno imagenColumna"
    "textoDos imagenColumna"
    ;
    grid-template-columns: 50% 50%;
}
/*Grid Areas procuto Tokens*/
.gridAreasProductoTokens{
    display: grid;
    grid-template-areas: 
    "textoUno imagenColumna"
    "textoDos imagenColumna"
    "textoTres imagenColumna"
    ;
    grid-template-columns: 50% 50%;
}
.textoUno{
    grid-area: textoUno;
}
.textoDos{
    grid-area: textoDos;
}
.textoTres{
    grid-area: textoTres;
}
.imagenColumna{
    grid-area: imagenColumna;
}
h2{
    text-align: center;
    padding: 2%;
    margin: 1%;
}

}


/* ////// */
/* ////// */
/* ////// */

/*TABLET*/
@media (min-width: 481px) and (max-width: 1023px){
/*Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 3fr 3fr 2fr 1fr;
    grid-template-columns: 30% auto;
}

/*Areas de Nosotros*/
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/*Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "topMenu topMenu"
    "columna contenido"
    "botMenu botMenu"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 3fr 1fr 4fr 3fr 1fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/*Areas de Contactos*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "topMenu contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/*Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu contenido"
    "mapa contenido"
    "logo redesSociales"
    "pie pie"
    ;
    grid-template-rows: 2fr 4fr 3fr 3fr 1fr;
    grid-template-columns: 25% auto;
}
/* MAIN*/
.centrarCarrousel{
    display: flex;
    align-items: center;
}
.mostrarCarrouselUno{
    display: none;
}
/* NAV*/
.estiloNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pruebacarrousel{
    height: 100%;
}
.pruebacarrouseldos{
    margin-top: 100px;
}
.texto{
    margin-top: 50px;
    padding: 2%;
    margin-left: 1%;
}
.estiloNavProductos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuNavegacion {
    display:flex;
    flex-flow: column nowrap;
    padding: 0%;
}
.menuNavegacionProductos{
    display:flex;
    justify-content: center;
}
.estiloLi {
    list-style-type: none;
    font-size: 130%;
    margin-right: 2%;
    margin-top: 2%;
}

/* PRODUCTOS*/
.centrarImg{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
/*Flexs styles---------------*/
.todosProductosFlex{
    display: flex;
    flex-flow: column wrap;
}

.productoFlex{
    display: flex;
    flex-flow: column nowrap;
    align-items: right;
}


.textoUno{
    grid-area: textoUno;
}
.textoDos{
    grid-area: textoDos;
}
.textoTres{
    grid-area: textoTres;
}
.imagenColumna{
    grid-area: imagenColumna;
}
h2{
    text-align: center;
    padding: 2%;
    margin: 1%;
}
.ImgCajitas{
    width: 10%;
}
.productoImgSmarthphoneCaja{
    width: 100%;
}
.productoImgSmarthphoneEspacioCaja{
    width: 60%;
}
.productoImgSmarthphoneDescripcionCaja{
    width: 100%;
}
.productoImgSmarthphoneNaipes{
    width: 100%;
}
.productoImgSmarthphoneDescripcionNaipes{
    width: 90%;
}
.productoImgSmarthphoneTableros{
    width: 100%;
}
.productoImgSmarthphoneDescripcionTableros{
    width: 70%;
}
.productoImgSmarthphoneMeeples{
    width: 100%;
}
.productoImgSmarthphoneTokens{
    width: 100%;
}

}


/* ////// */
/* ////// */
/* ////// */

/*SMARTPHONE*/
@media (max-width: 480px){

/* Areas de Index*/ 
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 40% auto;
}
/* Areas de Nosotros*/
.gridAreaNosotros{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 50% auto;
}
/* Areas de Productos*/
.gridAreaProductos{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "topMenu topMenu"
    "columna columna"
    "contenido contenido"
    "botMenu botMenu"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 4fr 1fr 1fr 6fr 2fr 3fr 2fr 1fr;
    grid-template-columns: 40% auto;
}
/* Areas de Contactos*/
.gridAreaContacto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo logo"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 1fr 1fr;
    grid-template-columns: 50% auto;
}
/* Areas de Tienda*/
.gridAreaTienda{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "topMenu topMenu"
    "contenido contenido"
    "redesSociales redesSociales"
    "logo mapa"
    "pie pie"
    ;
    grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
    grid-template-columns: 50% auto;
}
/* MAIN */

.centrarCarrousel{
    display: flex;
    align-items: center;
}
.mostrarCarrouselUno{
    display: none;
}
.pruebacarrousel{
    height: 100%;
    margin-top: 22px;
}


/* NAV */
.menuNavegacion {
    display:flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.menuNavegacionProductos{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.estiloNav{
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}
.estiloNavProductos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}
.estiloLi {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 16%;
    width: 12%;
    font-size: 18px;
}
/*ASIDE*/
.aColumn{
    margin: 1%;
    padding: 0;
}
aside{
    padding: 0;
}
/*LOGO*/
.logoImg{
    width: 60%;
}

.productoImgSmarthphoneCaja{
    width: 60%;
}
.productoImgSmarthphoneEspacioCaja{
    width: 60%;
}
.productoImgSmarthphoneDescripcionCaja{
    width: 70%;
}
.productoImgSmarthphoneNaipes{
    width: 60%;
}
.productoImgSmarthphoneDescripcionNaipes{
    width: 90%;
}
.productoImgSmarthphoneTableros{
    width: 60%;
}
.productoImgSmarthphoneDescripcionTableros{
    width: 65%;
}
.productoImgSmarthphoneMeeples{
    width: 70%;
}
.productoImgSmarthphoneTokens{
    width: 60%;
}

h2{
    text-align: center;
    padding: 2%;
    margin: 1%;
}
.centrarImg{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
}