/* nav styles*/
/*--------------------------*/
.estiloNav{
    background-color: black;
    border: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estiloNavProductos{
    background-color: black;
    border: solid white 2px;
}

a {
    text-decoration: none;
}
a:hover{
    border-bottom: solid 2px red;
}