
/*
///////////////////////////////
/// RESPONSIVE SMARTHPHONE ////
/// ///////////////////////////
*/

/*SMARTPHONE*/
@media (max-width: 600px){

    /* Areas de Index*/ 
    .gridAreaIndex{
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "topMenu topMenu"
        "contenido contenido"
        "redesSociales redesSociales"
        "logo logo"
        "mapa mapa"
        "pie pie"
        ;
        grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr 1fr;
        grid-template-columns: 40% auto;
    }
    /* Areas de Nosotros*/
    .gridAreaNosotros{
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "topMenu topMenu"
        "contenido contenido"
        "redesSociales redesSociales"
        "logo logo"
        "mapa mapa"
        "pie pie"
        ;
        grid-template-rows: 2fr 1fr 4fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 50% auto;
    }
    /* Areas de Productos*/
    .gridAreaProductos{
        display: grid;
        grid-template-areas: 
        "cabeza cabeza"
        "topMenu topMenu"
        "columna columna"
        "contenido contenido"
        "botMenu botMenu"
        "redesSociales redesSociales"
        "logo logo"
        "mapa mapa"
        "pie pie"
        ;
        grid-template-rows: 4fr 1fr 1fr 6fr 2fr 3fr 2fr 2fr 1fr;
        grid-template-columns: 40% auto;
    }
    /* Areas de Contactos*/
    .gridAreaContacto{
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "topMenu topMenu"
        "contenido contenido"
        "redesSociales redesSociales"
        "logo logo"
        "pie pie"
        ;
        grid-template-rows: 2fr 1fr 4fr 2fr 1fr 1fr;
        grid-template-columns: 50% auto;
    }
    /* Areas de Tienda*/
    .gridAreaTienda{
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "topMenu topMenu"
        "contenido contenido"
        "redesSociales redesSociales"
        "logo logo"
        "mapa mapa"
        "pie pie"
        ;
        grid-template-rows: 2fr 1fr 4fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 50% auto;
    }
    /*HEADER*/
    .bannerSmarthphone{
        width: 80%;
        margin: 2%;
    }

    /* MAIN */
    
    .centrarCarrousel{
        display: flex;
        align-items: center;
    }
    .mostrarCarrouselUno{
        display: none;
    }
    .pruebacarrousel{
        height: 100%;
        margin-top: 22px;
    }
    
    
    /* NAV */
    .menuNavegacion {
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .menuNavegacionProductos{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .estiloNav{
        background-color: black;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .estiloNavProductos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    
    }
    .estiloLi {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 12%;
        font-size: 18px;
    }
    /*ASIDE*/
    .aColumn{
        margin: 1%;
        padding: 0;
    }
   
    /*MAPA*/
    $tamanio:(
        logoImg: $logoSmarthphone,
        imagenesRedesSmarthphone : $iconoRedesSmarthphone
    );
    
    @each $nombre,$valor in $tamanio {
        .#{$nombre}{
            width: $valor;
        }
    }

    /*REDES*/
    .redesColumna{
        flex-direction: column;
    }
    
    
    @mixin imagenes ($ancho) {
        width: $ancho;
    }

    .productoImgSmarthphoneCaja{
        @include imagenes ($anchoSmarthphone);
    }
    .productoImgSmarthphoneEspacioCaja{
        @include imagenes ($anchoSmarthphone);
    }
    .productoImgSmarthphoneDescripcionCaja{
        @include imagenes ($anchoSmarthphone + 10);
    }
    .productoImgSmarthphoneNaipes{
        @include imagenes ($anchoSmarthphone);
    }
    .productoImgSmarthphoneDescripcionNaipes{
        @include imagenes (($anchoSmarthphone/2)*3);
    }
    .productoImgSmarthphoneTableros{
        @include imagenes ($anchoSmarthphone);
    }
    .productoImgSmarthphoneDescripcionTableros{
        @include imagenes ($anchoSmarthphone + 5);
    }
    .productoImgSmarthphoneMeeples{
        @include imagenes ($anchoSmarthphone + 10);
    }
    .productoImgSmarthphoneTokens{
        @include imagenes ($anchoSmarthphone);
    }
    
    .centrarImg{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    }