/* ASIDE*/

.columnaProductos {
    display: flex;
    flex-flow: column wrap;
}
aside {
    background-color: $colorPrimario;
    margin: 1%;
    padding: 10%;
}
.aColumn{
    background-color: $colorSecundario;
    text-align:center;
    margin: 8%;
    padding: 5%;
}
span:hover{
    border-bottom: solid 2px $colorTerciario;
}