/* nav styles*/
/*--------------------------*/
.estiloNav{
    background-color: $colorPrimario;
    border: solid $colorSecundario 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estiloNavProductos{
    background-color: $colorPrimario;
    border: solid $colorSecundario 2px;
}

a {
    text-decoration: none;
    &:hover{
        border-bottom: solid 2px $colorTerciario;
    }
}

