/* Estilos generales*/
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&display=swap');


.bordeTemporal{
    border: 5px solid purple;
    margin: 5px;
}

/* BODY */
body{
    background-image:url("../imagenes/backgroundNosotros.png");
    width: 100%;
    height: 100vh;
}

/*ESTILOS HEADER*/
header{
    background-color: $colorPrimario;
}
.centrarImagenHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* nav styles*/
/*--------------------------*/
.estiloNav{
    background-color: $colorPrimario;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estiloNavProductos{
    background-color: $colorPrimario;
}

a {
    text-decoration: none;
    &:hover{
        border-bottom: solid 2px $colorTerciario;
    }
}

/* ASIDE*/

.columnaProductos {
    display: flex;
    flex-flow: column wrap;
}
aside {
    background-color: $colorPrimario;
    margin: 1%;
    padding: 10%;
}
.aColumn{
    background-color: $colorSecundario;
    text-align:center;
    margin: 8%;
    padding: 5%;
}


/*ESTILOS MAIN*/

.margenes{
    margin-left: 5%;
    margin-right: 5%;
}
.contenidoNosotros{
    width: 100%;
    height: 100%;
}

/*AJUSTAR NOSOTROS*/
.ajustar{
    margin-bottom: 450px;
}  

/* MAPA*/
.mapaImg{
    width: 75%;
    height: 75%;
    border: solid 10px green;
}
.centrarMapaContacto{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}
.centrarMapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILOS LOGO*/
.logoImg{
    width: 65%;
}
.centrarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILOS REDES SOCIALES*/
.imagenRedes{
    width: 20%;
}
.centrarRedes{
    margin: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrarImagenRedes{
   @extend .centrarRedes;
   margin: 0%;
}
.centrarRedesSociales{
    display: flex;
    align-items: center;
}

.sacarGutter{
    --bs-gutter-x: 0rem;
}
.noPadding{
    padding: 0%;
}

/*NOWRAP REDES*/
.sacarwrap{
    display: flex;
    flex-wrap: nowrap;
}

/* ESTILOS LETRAS*/
h2{
    text-align: center;
    padding: 2%;
    margin: 1%;
}
h4{
    text-align: center;
}
.centrarTitulo{
    text-align: center;
    margin-top: 3%;
}

/* ESTILOS FOOTER*/

footer {
    background-color: $colorPrimario;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   /*Nombre de areas*/
.cabeza{
    grid-area: cabeza;
}
.topMenu{
    grid-area: topMenu;
}
.columna{
    grid-area: columna;
}
.contenido{
    grid-area: contenido;
}
.botMenu{
    grid-area: botMenu;
}
.logo{
    grid-area: logo;
}
.mapa{
    grid-area: mapa;
}
.redesSociales{
    grid-area: redesSociales;
}
.pie{
    grid-area: pie;
}